@media (min-width: 991px){
    nav{
    box-shadow:none;
}
}
@media (max-width: 991px){
    /* *CARD SECTION START */
    #card-section{
        margin-bottom: 85px;
    }
    .card-icon img{
        width: 100%;
    }
    .cards{
        height: 150px;
        padding: 0;
        border-radius: 12px;
    }
    .cards .row {
        padding: 35px;
    }
    .card-icon{
        padding: 0;
    }
    .card-cnt{
        padding: 0 0 0 16px;
    }
    .card-cnt h4 {
        text-align: left;
        font-size: 12px;
        padding: 0;
    }
    /* *CARD SECTION ENDS */
}